body{
    background-color: aqua;
    position: relative;
}
h1{
    text-align: center;
}
.container{
    background-color: rgb(232, 208, 176);
    position: relative;
    width: 480px;
    height: 480px;
    margin: 0 auto;
}
input{
    width: 157px;
    height: 159px;
    font-weight: bold;
    font-size: 4em;
}
